<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Placement Cell App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add-student"
            >Add New Student</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add-interview"
            >Add New Interview</a
          >
        </li>
      </ul>
      
      <a class="btn border" href="/profile">
        <%=user.name%>
        <i class="fa-solid fa-user"></i>
      </a>
      
      <a href="/signout" class="btn border ms-2">
        Sign out<i class="fa-solid fa-arrow-right-from-bracket ms-2"></i>
      </a>
    </div>
  </div>
</nav>

<div class="w-100 d-flex" style="padding: 20px; min-height:600px;">
  <div class="w-50 text-center border p-3 m-4">
    <h3>Student List</h3>
    <div>
      <%studentsList.map((student, index) => {%>
      <div
        style="text-decoration: none; color: black; cursor: pointer"
        class="bg-light border p-2 d-flex justify-content-between align-items-center toggle-btn my-2 cursor-pointer"
        data-index="<%= student._id %>"
      >
        <span><%=student.name %></span><i class="fa-solid fa-chevron-down"></i>
      </div>

      <div id="student-details-<%= student._id%>" class="hidden">
        <table class="table table-striped text-start">
          <tr>
            <td>Name</td>
            <td><%=student.name%></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%=student.email%></td>
          </tr>
          <tr>
            <td>College</td>
            <td><%=student.collegeName%></td>
          </tr>
          <tr>
            <td>Placement Status</td>
            <td><%=student.name%></td>
          </tr>
          <tr>
            <td>Student batch</td>
            <td><%=student.batch%></td>
          </tr>
          <tr>
            <td>DSA Score</td>
            <td><%=student.dsaScore%></td>
          </tr>
          <tr>
            <td>Web Dev Score</td>
            <td><%=student.webScore%></td>
          </tr>
          <tr>
            <td>React Score</td>
            <td><%=student.reactScore%></td>
          </tr>
          <tr>
            <td>
              <a href="/edit-student/<%= student._id%>" class="btn btn-warning">Edit</a>
              <a class="btn btn-danger" href="/delete-student/<%=student._id%>">Delete</a>
            </td>
            <td></td>
          </tr>
        </table>
      </div>

      <%})%>
    </div>
  </div>

  <div class="w-50 text-center border p-3 m-4">
    <h3>Interview List</h3>
    <div>
      <%interviewsList.map((interview, index) => {%>
      <div
        data-index="<%= interview._id %>"
        style="text-decoration: none; color: black; cursor: pointer"
        class="bg-light border p-2 d-flex justify-content-between align-items-center toggle-btn my-2"
      >
        <span><%=interview.companyName %></span
        ><i class="fa-solid fa-chevron-down"></i>
      </div>

      <div id="interview-details-<%= interview._id%>" class="hidden">
        <table class="table table-striped text-start">
          <tr>
            <td>Company</td>
            <td><%=interview.companyName%></td>
          </tr>
          <tr>
            <td>Date</td>
            <td><%=interview.interviewDate%></td>
          </tr>
          <tr>
            <td colspan="2">Students assigned</td>
          </tr>
          <%if(interview.studentsAssigned.length){%>
            <%interview.studentsAssigned.map((student) => {%>
              <tr>
                <td><%=student.email%></td>
                <td class="text-capitalize">
                  <%=student.result%>  
                  <!-- <a class="fw-bold text-danger ms-4" style="cursor: pointer;" href="/remove-assigned-student/<%=student.email%>">
                    <i class="fa-solid fa-trash"></i>
                  </a> -->
              </td>
              </tr>
            <%})%>
          <%}%>

          <tr>
            <td>
              <a href="edit-interview/<%= interview._id %>" class="btn btn-warning">Edit</a>
              <a href="/delete-interview/<%=interview._id%>" class="btn btn-danger mx-2">Delete</a>
              <a href="/add-student-result/<%=interview._id%>" class="btn btn-info">Add Student Result</a>
            </td>
            <td></td>
          </tr>
        </table>
      </div>

      <%})%>
    </div>
  </div>
</div>



